.submit{
    margin-top: 80px;
    text-align: center;
}
button{
    border-radius: 50px;
    border-color: #C4C4C4;
    font-size: 24px;
    width: 314px;
    height: 76px;
    font-family: sans-serif;
}
button:hover{
    border: 2px solid rgba(128, 128, 128, 1);
    background-color: rgba(365,365,365,0.5);
    cursor: pointer;
    color: white;
    opacity: .8;
    transition: .3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

button:active{
    background-color: white;
    color: black;
}